[submodule "src/Doctrine/Common"]
	path = src/Doctrine/Common
	url = git://github.com/doctrine/common.git
[submodule "src/Symfony/Component/Finder"]
	path = src/Symfony/Component/Finder
	url = git://github.com/symfony/Finder.git
