<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="true"
         bootstrap="test/PHPUnit/bootstrap.php"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         forceCoversAnnotation="false"
         mapTestClassNameToCoveredClassName="false"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         syntaxCheck="false"
         testSuiteLoaderClass="PHPUnit_Runner_StandardTestSuiteLoader"
         strict="false"
         verbose="false">

    <testsuites>
      <testsuite name="Query builder">
          <directory >test/Query</directory>
          <file >test/QueryTest.php</file>
      </testsuite>
      <testsuite name="Graph">
          <file >test/GraphTest.php</file>
      </testsuite>
      <testsuite name="HTTP">
          <directory >test/Http</directory>
      </testsuite>
      <testsuite name="ODM">
          <directory >test/ODM</directory>
      </testsuite>
      <testsuite name="Formatter">
          <directory >test/Formatter</directory>
      </testsuite>
      <testsuite name="Algorithm">
          <directory >test/Algorithm</directory>
      </testsuite>
      <testsuite name="ODM">
          <directory >test/ODM</directory>
      </testsuite>
      <testsuite name="Excp">
          <directory >test/Exception</directory>
      </testsuite>
      <testsuite name="Validator">
          <directory >test/Validator</directory>
      </testsuite>
    </testsuites>

    <filter>
      <blacklist>
        <directory suffix=".php">test</directory>
        <directory suffix=".php">lib</directory>
        <directory suffix=".php">vendor</directory>
      </blacklist>
    </filter>

    <php>
        <const name="TEST_ODB_HOST" value="127.0.0.1"/>
        <const name="TEST_ODB_PORT" value="2480"/>
        <const name="TEST_ODB_USER" value="admin"/>
        <const name="TEST_ODB_PASSWORD" value="admin"/>
        <const name="TEST_ODB_DATABASE" value="demo"/>
        <const name="TEST_ODB_TIMEOUT" value="30"/>
    </php>
</phpunit>
