<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="true"
         bootstrap="bootstrap.php"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         forceCoversAnnotation="false"
         mapTestClassNameToCoveredClassName="false"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="true"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         syntaxCheck="false"
         testSuiteLoaderClass="PHPUnit_Runner_StandardTestSuiteLoader"
         strict="false"
         verbose="false">

    <testsuites>
      <testsuite name="Query builder">
          <directory >../../Test/Query</directory>
          <file >./Test/QueryTest.php</file>
      </testsuite>
      <testsuite name="HTTP">
          <directory >../../Test/Http</directory>
      </testsuite>
      <testsuite name="ODM">
          <directory >../../Test/Document</directory>
      </testsuite>
<!--      <testsuite name="Test">
          <directory >../../Test/Foundation</directory>
      </testsuite>-->
    </testsuites>

    <filter>
      <blacklist>
        <directory suffix=".php">../../Test</directory>
      </blacklist>
    </filter>
</phpunit>